<div class="message-index-wrapper">
<%= form_with url: purchase_profile_path do |f| %>
  <%= f.hidden_field :profile_user_id, :value => @profile.user_id %>

<div class="container">
  <h2 class="text-black">[メッセージ機能利用料金]￥500</h2>
  <div class="mb-5">
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_51c19918f4287cc1eb4d3408"></script>
  </div>
</div>
<% end %>
</div>