= form_with url: purchase_profile_path do
  :plain
  
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    image_tag(image_path('picks_logo.png'), class: 'visa')
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_51c19918f4287cc1eb4d3408"></script>