<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-black">PICKSへようこそ！</h1>
    <h2 class="text-white">マッチングアプリの新たな形を提案します。</h2>
    <h3 class="text-white">PICKSに月額料金はありません。気に入った相手を見つけたら、500円でその人とメッセージのやり取りができます。
    さらに！ご自身のメッセージやり取りする権利を売ることができます。（アマゾンギフト券での入金になります。１購入につき300円分のアマゾンギフト券をGET!
    ＊販売者はメッセージのやり取りを購入者に対して返信を10回以上行う必要があります。良いレビューがもらえるように丁寧なやり取りを心がけましょう！）</h3>
  </div>
    <%= link_to 'プロフィール一を作成する', profile_path(profile.user.id), method: :GET %> 
</div>