<form id="inputForm" name="inputForm" action="https://1bdd6997d8c5412d893b1ed033f9347a.vfs.cloud9.us-east-2.amazonaws.com/cards/:id" method="get">
  <div class="pay-form-group">
    <label for="inputCardNumber">カード番号</label>
    <input type="text" class="form-control" id="card_number" placeholder="カード番号">
  </div>
  <div class="form-group">
    <label for="inputCVV">CVC/セキュリティコード</label>
    <input type="text" class="form-control" id="cvc" placeholder="CVC">
  </div>
  <div class="form-group">
    <label for="inputExp">有効期限</label>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="exp_year" placeholder="年">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="exp_month" placeholder="月">
      </div>
    </div>
  </div>
  <input type="submit" value="カード情報を登録する", id: "token_submit", class: 'btn btn-black btn-block'>
  <!--< submit_tag(controller: "card", action: "show", method: "post") 'カード情報を登録する', id: "token_submit", class: 'btn btn-black btn-block' %>-->
  
</form>


