<form>
  <div class="form-group">
    <label for="inputCardNumber">カード番号</label>
    <input type="text" class="form-control" id="card_number" placeholder="カード番号">
  </div>
  <div class="form-group">
    <label for="inputCVV">CVV/セキュリティコード</label>
    <input type="text" class="form-control" id="cvv" placeholder="CVV">
  </div>
  <div class="form-group">
    <label for="inputExp">有効期限</label>
    <div class="row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="exp_year" placeholder="年">
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="exp_month" placeholder="月">
      </div>
    </div>
  </div>
  <button id="token">トークン化</button>
</form>
<!-- 今回はHTML上に結果を表示します -->
生成されたトークン：<div id="card_token"></div>